/* Highlight functions */
.hl (@fg) {
    color: @fg;
}
.hl (@fg, @bg) {
    color: @fg;
    background-color: @bg;
}
         
/* Highlight classes */
.highlight .hll { background-color: #222222 }
.highlight .c { .hl(#666462); } /* Comment */
.highlight .err { .hl(#ffffff, #ff2c4b); border-bottom: 1px solid #FF0000 } /* Error */
.highlight .g { color: #cccccc } /* Generic */
.highlight .k { .hl(#ff2c4b); } /* Keyword */
.highlight .l { color: #cccccc } /* Literal */
.highlight .n { color: #cccccc } /* Name */
.highlight .o { .hl(#ff2c4b); } /* Operator */
.highlight .x { color: #cccccc } /* Other */
.highlight .p { .hl(#ff9eb8); } /* Punctuation */
.highlight .cm { .hl(#875f78); } /* Comment.Multiline */
.highlight .cp { .hl(#875f78); font-weigt: bold; } /* Comment.Preproc */
.highlight .c1 { .hl(#875f78); } /* Comment.Single */
.highlight .cs { .hl(#ffffff); font-weight: bold } /* Comment.Special */
.highlight .gd { color: #cd0000 } /* Generic.Deleted */
.highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00cd00 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { .hl(#ffffff); font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { .hl(#b88853); } /* Keyword.Constant */
.highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.highlight .kn { .hl(#aeee00); } /* Keyword.Namespace */
.highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.highlight .kt { .hl(#ff9eb8); } /* Keyword.Type */
.highlight .ld { color: #cccccc } /* Literal.Date */
.highlight .m  { .hl(#b88853); } /* Literal.Number */
.highlight .mf { .hl(#b88853); } /* Literal.Number.Float */
.highlight .mh { .hl(#b88853); } /* Literal.Number.Hex */
.highlight .mi { .hl(#b88853); } /* Literal.Number.Integer */
.highlight .il { .hl(#b88853); } /* Literal.Number.Integer.Long */
.highlight .mo { .hl(#b88853); } /* Literal.Number.Oct */
.highlight .s  { .hl(#f4cf86); } /* Literal.String */
.highlight .sb { .hl(#f4cf86); } /* Literal.String.Backtick */
.highlight .sc { .hl(#f4cf86); } /* Literal.String.Char */
.highlight .sd { .hl(#f4cf86); } /* Literal.String.Doc */
.highlight .s2 { .hl(#f4cf86); } /* Literal.String.Double */
.highlight .se { .hl(#f4cf86); } /* Literal.String.Escape */
.highlight .sh { .hl(#f4cf86); } /* Literal.String.Heredoc */
.highlight .si { .hl(#f4cf86); } /* Literal.String.Interpol */
.highlight .sx { .hl(#f4cf86); } /* Literal.String.Other */
.highlight .sr { .hl(#f4cf86); } /* Literal.String.Regex */
.highlight .s1 { .hl(#f4cf86); } /* Literal.String.Single */
.highlight .ss { .hl(#f4cf86); } /* Literal.String.Symbol */
.highlight .na { .hl(#f8f6f2); } /* Name.Attribute */
.highlight .nb { .hl(#ff9eb8); } /* Name.Builtin */
.highlight .nc { .hl(#ff2c4b); } /* Name.Class */
.highlight .no { .hl(#ffa724); } /* Name.Constant */
.highlight .nd { .hl(#ffa724); } /* Name.Decorator */
.highlight .ni { .hl(#ffa724); } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { .hl(#ffa724); } /* Name.Function */
.highlight .nl { .hl(#ffa724); } /* Name.Label */
.highlight .nn { .hl(#ffa724); } /* Name.Namespace */
.highlight .nx { .hl(#f8f6f2); } /* Name.Other */
.highlight .py { .hl(#ffa724); } /* Name.Property */
.highlight .nt { .hl(#ffa724); } /* Name.Tag */
.highlight .nv { .hl(#ff2c4b); } /* Name.Variable */
.highlight .ow { .hl(#ff2c4b); } /* Operator.Word */
.highlight .bp { .hl(#ff9eb8); } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.highlight .w { color: #cccccc } /* Text.Whitespace */
